*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
:root {
    --white-color:#ece1e4;
    --primary-color: #f2e7c7;
    --secondary-color: #b7123c;
    --tertiary-color: #bc6a79; /* Variação mais clara da cor secundária */
    --quaternary-color: #430f21; /* Cor complementar da terciária */
    --shadow:3px 5px 10px #430f21cc;
}


body{
    background: var(--primary-color);
    color: var(--secondary-color);
}

h1 {
    text-align: center;
    margin: 50px auto;
    text-transform: capitalize;
    text-shadow: var(--shadow); 
}


h1 .title{
    color: var(--quaternary-color);
    font-weight: bold;
}

form{
    width: 90%;
    max-width: 600px;
    margin: auto;
    height: 80px;
    background: var(--tertiary-color);
    display: flex;
    align-items: center;
    border-radius: 17px;
    box-shadow: var(--shadow);
    
}

form input {
    flex: 1;
    height: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    color: var(--white-color);
    font-size: 18px;
    padding: 0 30px;
    
}

form input::placeholder {
    color: var(--primary-color);
}

form button{
    padding: 0 40px;
    height: 100%;
    background: var(--secondary-color);
    color: var(--primary-color);
    font-size: 23px;
    border: none;
    outline: 0;
    border-radius: 17px;
    cursor: pointer;
    box-shadow: var(--shadow);
}

form button:hover{
    background: var(--quaternary-color);
    color: var(--white-color);
    transition: .5s;
    cursor: pointer;
    
}

#show-more-btn{
    background: var(--secondary-color);
    color: var(--primary-color);
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px auto 100px;
    cursor: pointer;
    display: none;
}

#show-more-btn:hover{
    background: var(--quaternary-color);
    color: var(--white-color);
    transition: .5s;
    cursor: pointer;
    
}